@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trirong&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;800&family=Texturina:ital,wght@0,400;0,700;0,900;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Texturina:ital,wght@0,400;0,700;0,900;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url("https://use.typekit.net/uuu8yde.css");
* {
    padding: 0;
    margin: 0;
}

canvas[resize] {
    width: 100%;
    height: 100%;
}

ul a {
    font-size: 17px;
    margin: 0px;
    padding: 0px;
}

.tickerwrapper {
    /* the outer div */
    position: relative;
    top: 30px;
    left: 0%;
    border: none;
    width: 99.9%;
    height: 30px;
    overflow: hidden;
    background: none;
}

ul.list {
    position: relative;
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.list.cloned {
    position: absolute;
    top: 0px;
    left: 0px;
}

ul.list li {
    float: left;
    padding-left: 20px;
    text-decoration: none;
}

.theBall,
.theBall-outer {
    mix-blend-mode: exclusion;
    will-change: opacity;
    width: 120px;
    height: 120px;
}


/* Scale canvas with resize attribute to full size */

.theBall-outer {
    position: fixed;
    top: -100px;
    left: -100px;
    z-index: 2000;
    pointer-events: none!important;
}

.theBall {
    position: absolute;
    background-color: rgb(255, 255, 255) !important;
    border-radius: 50%;
    -webkit-transition: transform .2s cubic-bezier(.175, .885, .32, 1.275);
    -moz-transition: transform .2s cubic-bezier(.175, .885, .32, 1.275);
    -ms-transition: transform .2s cubic-bezier(.175, .885, .32, 1.275);
    -o-transition: transform .2s cubic-bezier(.175, .885, .32, 1.275);
    transition: transform .2s cubic-bezier(.175, .885, .32, 1.275);
    transform-origin: center;
}


/* .zooming.theBall {
	-webkit-transform: scale(2);
	-moz-transform: scale(2);
	-ms-transform: scale(2);
	-o-transform: scale(2);
	transform: scale(2);
} */

::selection {
    background-color: rgb(170, 170, 170);
    color: #fff;
}

a.test {
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

body {
    height: 70vh;
    background: rgb(61, 149, 206);
    color: rgb(255, 255, 255);
    /* background: black;
    color: white; */
    font-family: gopher, sans-serif;
    font-weight: 100;
    cursor: none;
}

.fas,
.fa-arrow-left {
    font-size: 48px;
    padding: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
    margin: 50px;
    position: fixed;
    top: 0;
    width: 100%;
}

.intro {
    width: 900px;
    height: 150px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 34px;
    font-family: gopher, sans-serif;
    font-weight: 100;
    /* font-style: bold; */
    cursor: none;
}

.about {
    padding: 50px;
    width: 800px;
}

.projects {
    width: 700px;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 70px;
}

a {
    padding: 12px;
    font-family: gopher, sans-serif;
    font-size: 42px;
    margin: 8px;
    display: inline-block;
    color: rgb(255, 255, 255);
    align-items: center;
    text-decoration: none;
    font: 100;
    font-style: bold;
    font-weight: 400;
}

a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a:hover:after {
    width: 100%;
    left: 0;
}

a {
    font-family: gopher, sans-serif;
    color: #fff;
    /* text-transform: uppercase; */
    text-decoration: none;
    font-size: 42px;
    /* letter-spacing: 0.15em; */
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    text-decoration: none;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a:hover:after {
    width: 100%;
    left: 0;
}

.projects_category {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 85px;
}

li {
    cursor: pointer;
    text-decoration: none;
}

.menu {
    float: inline-end;
    width: 100%;
    margin: 71px;
    padding: 145px;
}

.menu.about {
    margin: 115px
}

.menu.index {
    margin: 0px;
    padding: 0px;
}

@-moz-document url-prefix() {
    .menu {
        padding: 0px;
    }
    .menu.index {
        margin: 0px;
        padding: 0px;
    }
}

nav {
    display: float;
}

.logo {
    padding: 5px;
    margin: 20px;
    width: 20px;
    height: 20px;
}

#logo {
    width: 250px;
}


/* .category_name {
    display: inline;
} */


/* supposed to make image hover  */

.hover-title {
    /* display: inline; */
    pointer-events: auto;
    cursor: pointer;
    font-size: 72pt;
}

.hover-image {
    visibility: hidden;
}

body:not(.mobile) .hover-title:hover+.hover-image {
    visibility: visible;
    pointer-events: none;
}

.hover-image {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    pointer-events: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Change width and height to scale images */
    width: 50vw;
    height: 50vh;
    cursor: none;
}

.hover-image img {
    max-width: 100% !important;
    max-height: 100% !important;
    width: auto !important;
    height: auto !important;
    margin-bottom: 0;
    cursor: zoom-in;
    transition: all 0.3s ease-out;
}

.blurb {
    width: 500px;
    margin: 20px;
    font-size: 12px;
}

.main,
.project-image {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: initial;
    padding: 20px;
    max-width: 100% !important;
    max-height: 100% !important;
    flex-direction: row;
    /* margin: 20px; */
}


/* .personal_projects {
    padding: 20px;
    margin: 40px;
} */

.main {
    width: 80%;
    height: 80%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    width: 100%;
}

.archive {}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding: 20px;
    margin: 20px;
}

.blue-column {
    width: 300px;
    height: 300px;
    position: fixed;
    margin-top: 50px;
    margin-right: auto;
    padding: 0px;
    justify-content: left;
    font: 200;
}

.archive-column {
    width: 80%;
    height: 100vh;
    margin: auto;
    padding: 50px;
    font: 200;
}

.archive_list {
    width: 900;
}

.green-column {
    width: 700px;
    height: auto;
    margin: 111px;
    margin-top: 90px;
    margin-right: 111px;
    margin-bottom: 111px;
    margin-left: 111px;
    margin-left: -111px;
}

.project-image {
    max-width: 100% !important;
    max-height: 100% !important;
    transition: transform .1s;
    /* border: solid; */
    margin: 10px;
}

.description_title {
    margin: auto;
    padding: 10px 0px 5px 20px;
    font-style: italic;
}

.fa,
.fa-backward {
    color: black;
}

.description {
    margin: auto;
    padding: 10px 0px 5px 20px;
    font-style: none;
}

.sections_menu>li>a {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.projects_menu>li>a {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    text-decoration: none;
}

.sections_menu>li>a:hover {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    text-decoration: none;
}

.project-image:hover {
    /* -ms-transform: scale(1.5); */
    /* IE 9 */
    /* -webkit-transform: scale(1.5); */
    /* Safari 3-8 */
    transform: scale(1.5);
    cursor: none;
}

.demo_link {
    font-size: 20px;
    margin: 0px;
    font-family: 'Trirong', serif;
    text-decoration: underline;
}

.title {
    width: 200px;
}

li {
    list-style: none;
    text-decoration: none;
}

.fixed_element {
    display: visible;
}

:root {
    --animate-duration: 4.9s;
    --animate-delay: 5s;
}

:root {
    --alpha: 0.8; // We're changing this value via JS with interaction
}

$c_base: #191919; // Black
$c_selection: rgba(246,
255,
250,
0.8); // Hotpink
// You can change the typo color here. Just edit the RGB:
$c_typo: rgba(155,
155,
255,
var(--alpha)); // White
$anim: 0.1s linear;
html,
body {
    height: 100%;
}

body {
    background-color: $c_base;
    margin: 0;
    overflow-x: hidden;
}

::selection {
    background-color: $c_selection;
}

.heading {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: none;
}

.typo {
    color: $c_typo;
    cursor: none;
    font-family: gopher, sans-serif;
    font-size: 15vmax;
    font-weight: normal;
    line-height: 1.2;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 10px;
    outline: none;
    padding: 0 10% 1.2% 10%;
    text-align: center;
    transition: color $anim; // To work with JS
    font-weight: 100;
}

.levi {
    border: 5px solid rgb(222, 222, 222);
}

.fa-arrow-down {
    margin: 0;
    padding: 0 10% 1.2% 10%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.fa-arrow-down:hover {
    margin: 0;
    text-align: right;
    display: flex;
    align-content: space-around;
}

.icon-long-arrow-right {
    color: white;
}

.hideme {
    opacity: 0;
}

.hideme2 {
    opacity: 0;
}

.works {
    width: 1000px;
    height: 140px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 34px;
    font-family: gopher, sans-serif;
    font-weight: 100;
    font-style: bold;
}

html,
body {
    margin: 0;
    /* overflow: hidden; */
    height: 100%;
}


/* Scale canvas with resize attribute to full size */

.indexmailcta {
    text-align: left;
    font-size: 34px;
    font-family: gopher, sans-serif;
    font-weight: 100;
    font-style: bold;
    cursor: none;
    display: contents;
    text-decoration: underline;
    color: white;
}

.indexmailcta:hover {
    color: red;
    text-decoration: underline;
}

a.indexmailcta::after {
    width: 0%;
    left: 0;
}

@-moz-document url-prefix() {
    .indexmailcta {
        text-align: left;
        font-size: 34px;
        font-family: gopher, sans-serif;
        font-weight: 100;
        font-style: bold;
        cursor: none;
        display: contents;
        text-decoration: underline;
        color: white;
    }
    .indexmailcta:hover {
        color: yellow;
        text-decoration: underline;
        font-size: larger;
    }
}


/* For desktop: */

@media only screen and (max-width: 1500px) {
    .blue-column {
        width: 300px;
        height: 300px;
        margin: 50px;
        padding: 50px;
        justify-content: center;
        font-size: 15px;
        position: relative;
    }
    .green-column {
        width: 500px;
        height: auto;
        margin: 111px;
        margin-top: 90px;
        /* margin-right: 111px; */
        margin-bottom: 111px;
        margin-left: -50px;
    }
}

@media only screen and (max-width: 1400px) {
    .projects_category {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    .main {
        width: 60%;
        height: 60%;
    }
    .row {
        display: block;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
}

@media only screen and (max-width: 1268px) {
    .intro {
        width: 650px;
        height: 400px;
        margin: auto;
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 34px;
    }
    .projects {
        width: 300px;
        height: 400px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 70px;
    }
    .projects_category {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 35px;
    }
    a {
        padding: 10px;
        font-size: 40px;
        margin: 4px;
        display: inline-block;
        align-items: center;
        text-decoration: none;
        font: 100;
        font-style: bold;
        font-weight: 400;
    }
    .column {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
        padding: 20px;
        margin: 20px;
    }
    .blue-column {
        width: 300px;
        height: 300px;
        margin: 50px;
        padding: 50px;
        justify-content: center;
        font-size: 15px;
        position: relative;
    }
    .green-column {
        width: auto;
        height: auto;
        margin: auto;
        margin-top: 50px;
        padding: 80px;
        margin: 111px;
        margin-top: 90px;
        margin-right: 111px;
        margin-bottom: 111px;
        margin-left: 111px;
        margin-left: -111px;
    }
}